@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
/* USE LINK TAG */
h1 {
  font-family: "Shizuru", cursive;

  border: 2px solid red;
  padding: 10px;
}
/* IMPORT */

h2 {
  font-family: "Redressed", cursive;

  border: 3px solid salmon;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
}
